[submodule "plugins/deps/imgui"]
	path = plugins/deps/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "plugins/vstgui"]
	path = plugins/deps/vstgui
	url = https://github.com/steinbergmedia/vstgui.git
[submodule "deps/Catch2"]
	path = deps/Catch2
	url = https://github.com/catchorg/Catch2.git
